logging:
  file:
    name: logs/demo-pjgl.log
  level:
    root: DEBUG

# Especifica la ruta de la documentaciï¿½n OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  # Especifica la ruta de Swagger UI
  swagger-ui:
    path: /swagger-ui.html
    # Habilita o deshabilita Swagger UI
    enabled: true

spring:
  application:
    name: users
  profiles:
    active: local
  config:
    import: optional:configserver:http://localhost:8085
  security:
    user:
      name: admin
      password: qwerty
      roles: ADMIN
